*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 2em;
    padding: 0;
    margin: 0;
}

#check{
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    height: 100dvh;
    width: 100dvw;
    gap: 5vh;
}

input{
    width: 60vw;
    height: 10vh;
    font-size: 0.8em;
}

#button{
    padding: 20px 50px;
    background: grey;
    cursor: pointer;
    text-transform: uppercase;
}
#button:hover{
    background: darkgrey;
}

#main_content{
    width: 100vw;
    height: 100vh;
    width: 100dvw;
    height: 100dvh;
    display: none;
    justify-content: center;
    align-items: center;
}

body[data-open = "true"] #main_content{
    display: flex;
}
body[data-open = "true"] #check{
    display: none;
}

@media (max-width: 600px) {
    input{
        width: 80vw;
    }
}